html, body {
    height: 100%;
    background-color: #a8c3b0;
}

#loading-indicator {
    display: none;
}

.loading #loading-indicator {
    display: block;
}

#imageInput {
    display: none;
}

#receiveImage {
    max-width: 100%;
    max-height: 300px;
}

button,
span.bubble-label {
    border: 0;
    border-radius: 15px;
    padding: 5px;
    background-color: #ffe082;
    color: #536c44;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 15px;
}

.weed {
    color: #AA0000;
}

button:active {
    background-color: #aa8c6f;
}

button:focus {
    outline: #b1870a 2px solid;
}

#most-likely-image {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
}

#most-likely-probability {
    font-weight: bold;
}

.identification-section,
.instruction-section {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.identification-section > * {
    flex-basis: 50%;
    padding: 10px;
}

.instruction-section {
    flex-direction: column;
}

.loading #application {
    display: none;
}

#infotext {
    padding: 15px;
    background-color: #536c44;
    color:#ffe082;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
}
